{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript">
	/**
		Tradutor de palavras portugês para Sinais LIBRAS
		Utilizamos os dicionários do sistema para tal tarefa
	**/
	
	// iFrameOn é uma função reservada, utilizada em todos os Layouts,
	// podendo ser reescrita para novas funcionalidades
	function iFrameOn() {
		portuguestexto.document.designMode = 'On';
		portuguestexto.document.execCommand('formatblock',false,"P");
		
		$("#portuguestexto").contents().click(function(e) {
			// wrap words in spans
		    $("#portuguestexto").contents().find('p').each(function () {
		        var $this = $(this);
		        var arrayWords = replaceNbsps($this.text()).split(" ");
		        console.log($this.text());
		        var novoTexto = "";
		        arrayWords.forEach(function (entry) {
		            novoTexto += "<span data-palavra='" +
		            		retira_acentos(entry.replace(".","").replace("?", "")) 
		            		+ "'>" + entry + "</span> ";
		        });
		        $this.html(novoTexto);
		    });
		    
		    portuguestexto.document.execCommand('formatblock',false,"P");

		    // bind to each span
		    $("#portuguestexto").contents().find('p span').hover(

		    function () {
		        $(this).css('background-color', '#ffff66').text();
		    },

		    function () {
		        $(this).css('background-color', '');
		    });
		    
		    // alert to each span
		    $("#portuguestexto").contents().find('p span').click(

		    function () {
		    	var slug = $(this).data('palavra').toLowerCase();
		    	gerarVideo(slug);
		    });
		});
	}
		
	function gerarVideo(slug){
		//definições
		$videoP = $("#videoplayer")[0]; //principal
	    var e = document.getElementById("dicionarios");
	    var dic = e.options[e.selectedIndex].value;
	    console.log(slug + ' -> ' + dic);
	    src = srcDefine(retira_stop_words(slug), dic);
	    
	    document.getElementById('palavraNome').value = retira_stop_words(slug).toUpperCase();
	    
	    document.getElementById('videoexecucao').src = src;
	    document.getElementById('fvideoexecucaodata').data = src;
	    document.getElementById('fvideoexecucaovalue').value = src;
	    
	    $videoP.loop = true;
	    $videoP.load();
	    console.log($videoP);
	}
	
	// Nesta função, o sistema irá trazer o video do usuário caso seja uma palavra PESSOAL.
	// A do grupo que o usuário pertence ou do INES
	function srcDefine(slug, dic){
		var auxSrc = '';
		
		switch(dic){
	  	  	//No pessoal precisamos pedir ao sistema o caminho!!!
			case '0':
				auxSrc = "http://www.acessibilidadebrasil.org.br/libras/filme/" + slug + "Sm_Prog001.swf";
				break;
			case '1':
				//auxSrc = "/mvlibras/static/media/ines/" + slug + "Sm_Prog001.mp4";
				auxSrc = "/static/media/ines/" + slug + "Sm_Prog001.mp4";
				break;
			case '2':
				ajax_user_video(slug);
				auxSrc = userPath;
				break;
			case '3':
				//auxSrc = "/mvlibras/static/media/grupo/" + slug;
				auxSrc = "/static/media/grupo/" + slug;
				break;
			default:
				auxSrc = "nada";
				break;
		}
		console.log("Palavra-> " + slug + " - Dicionário -> " + dic + " - Caminho:" + auxSrc);
		return auxSrc;
	}
	  
	function ajax_user_video(slug){
		console.log('Buscando via AJAX');
		$.ajax({
			url: '/apaigl/'+ slug +'/busca_video/',
			//url: '/mvlibras/apaigl/'+ slug +'/busca_video/',
			type: "GET",
			data: {},
			cache: false,
			async: false,
	        contentType: false,
	        processData: false,
			success: function(data) {
				if(data['erro']){
					userPath = 'erro';
				}else{
					userPath = "/static/" + data['caminho'];
					document.getElementById("grupoNome").value = data['grupo'];
					document.getElementById("imagemPalavra").src = "/static/" + data['imagem'];
				}
				console.log(userPath);
			 },
			 error: function(jqXHR, textStatus, errorMessage) {
		          console.log(errorMessage); // Optional
		          userPath = "";
			     }
			});
		return false;
	}
	
	function SelecionarPalavraDicionario(){
		var slug = document.getElementById('palavraNome').value.toLowerCase();
		gerarVideo(slug);
	}
</script>
{% endblock %}
 
{% block conteudo %}

<div class="row">
	<h2>APAIGL</h2>
	<details>
	<span data-tooltip aria-haspopup="true" 
		class="has-tip" title="Aqui você irá aprender a 
		gesticulação e interpretação de palavras em LIBRAS, 
		lidando com sinal e sua representação."><i class="fa fa-info-circle"></i>
	</span>
	Arquitetura pedagógica para Aprendizagem de Interpretação e Gesticulação LIBRAS
	</details>
	<br><br>
</div>
<div class="row panel radius">
	<div class="large-8 columns">
		<iframe name="portuguestexto" id="portuguestexto" width="100%" class="editor"></iframe>
	</div>
	<div class="large-4 columns">
		<div class="row">
			<div class="large-6 small-6 columns">
				<video width="100%" autoplay="autoplay" loop="loop" id="videoplayer">
					<source id="videoexecucao"
						src=""
						type="video/mp4">
					<object id="fvideoexecucaodata"
						data="http://www.acessibilidadebrasil.org.br/libras/filme/olaSm_Prog001.swf"
						type="application/x-shockwave-flash">
						<param id="fvideoexecucaovalue"
							value="http://www.acessibilidadebrasil.org.br/libras/filme/olaSm_Prog001.swf"
							name="movie" />
					</object>
					Your browser does not support the video tag.
				</video>
			</div>
			<div class="large-6 small-6 columns">
				<img id="imagemPalavra" src="http://placehold.it/120?text=Imagem">
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<label>Palavra <input id="palavraNome" type="text"
					disabled="disabled" value="Palavra selecionada" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<label>Dicionário <select onchange="SelecionarPalavraDicionario();" id="dicionarios">
						<option value="1">INES</option>
						<option value="2">Pessoal</option>
						<option value="3">Local</option>
				</select>
				</label>
			</div>
			<div class="large-6 columns">
				<label>Grupo <input type="text" disabled="disabled" id="grupoNome"
					value="FRUTAS" />
				</label>
			</div>
		</div>
	</div>
</div>

<br><br>
{% endblock %}